In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

from selenium.common.exceptions import NoSuchElementException, TimeoutException

import urllib.request

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import requests
import re

from selenium.webdriver.common.keys import Keys

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()

Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
youtube_url=driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
rank=[]
name=[]
artist=[]
date=[]
views=[]

# scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        if(i.text)!='':
            rank.append(i.text)
        else:
            rank.append("--")
except NoSuchElementException:
    rank.append("--")
    
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        if(i.text)!='':
            name.append(i.text[:-4])
        else:
            name.append("--")
except NoSuchElementException:
    name.append("--")
    
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        if.text!='':
            artist.append(i.text)
        else:
            artist.append("--")
except NoSuchElementException:
    artist.append("--")
        
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        if(i.text)!='':
            date.append(i.text)
        else:
            date.append("--")
except NoSuchElementException:
    date.append("--")
        
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        if(i.text)!='':
            views.append(i.text)
        else:
            views.append("--")
except NoSuchElementException:
    views.append("--")

In [6]:
data={'Rank':rank, 'Video Name':name, 'Uploader':artist, 'Views':views, 'Published Date':date}
df = pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
df

,Rank,Video Name,Uploader,Views,Published Date
0,1.,"""Baby Shark Dance",Pinkfong Baby Shark - Kids' Songs & Stories,12.85,"June 17, 2016"
1,2.,"""Despacito",Luis Fonsi,8.16,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,6.70,"October 8, 2016"
3,4.,"""Bath Song""",Cocomelon – Nursery Rhymes,6.20,"May 2, 2018"
4,5.,"""Shape of You""",Ed Sheeran,6.00,"January 30, 2017"
5,6.,"""See You Again""",Wiz Khalifa,5.89,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""",ChuChu TV,5.30,"March 6, 2014"
7,8.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,5.24,"May 24, 2018"
8,9.,"""Uptown Funk""",Mark Ronson,4.92,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.89,"February 27, 2018"
10,11.,"""Gangnam Style""",Psy,4.80,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""",El Chombo,4.35,"April 5, 2018"
13,14.,"""Axel F""",Crazy Frog,3.91,"June 16, 2009"
14,15.,"""Sugar""",Maroon 5,3.87,"January 14, 2015"
15,16.,"""Roar""",Katy Perry,3.80,"September 5, 2013"
16,17.,"""Counting Stars""",OneRepublic,3.79,"May 31, 2013"
17,18.,"""Sorry""",Justin Bieber,3.66,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,3.64,"June 25, 2018"
19,20.,"""Thinking Out Loud""",Ed Sheeran,3.60,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""",Shakira,3.59,"June 4, 2010"
21,22.,"""Dark Horse""",Katy Perry,3.52,"February 20, 2014"
22,23.,"""Lakdi Ki Kathi""",Jingle Toons,3.48,"June 14, 2018"
23,24.,"""Faded""",Alan Walker,3.45,"December 3, 2015"
24,25.,"""Perfect""",Ed Sheeran,3.45,"November 9, 2017"
25,26.,"""Let Her Go""",Passenger,3.44,"July 25, 2012"
26,27.,"""Girls Like You""",Maroon 5,3.42,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.41,"January 26, 2018"
28,29.,"""Lean On""",Major Lazer,3.38,"March 22, 2015"
29,30.,"""Bailando""",Enrique Iglesias,3.38,"April 11, 2014"

Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [7]:
bssi_url=driver.get("https://www.bcci.tv/")

In [8]:
try:
    wait=WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.CLASS_NAME, "cookie")))
    x=wait.find_element(By.CLASS_NAME,"cookie__accept")
    x.click()
except TimeoutException as e:
    print(e)

In [9]:
try:
    nav_btn=driver.find_element(By.XPATH, '//*[@id="navigation"]/ul[1]/li[2]')
    nav_btn.click()
except NoSuchElementException:
    print(e)

In [10]:
# click on more fixtures
try:
    time.sleep(3)
    fixtures= driver.find_element(By.XPATH, '//*[@id="fixtures"]/div[3]/div[2]/div/button')
    fixtures.click()
    time.sleep(3)
except NoSuchElementException:
    print(e)

In [11]:
#Creating Empty list
match_title=[]
match_series=[]
match_place=[]
match_date=[]
match_time=[]

#Scraping Match_title
try:
    title= driver.find_elements(By.XPATH, '//*[@id="match-card"]/div[3]/div/span[1]')
    for i in title:
        if(i.text)!='':
            name=i.text[:-1].split('-')[0]
            match_title.append(name)
        else:
            match_title.append('--')
except NoSuchElementException:
    match_title.append('--')
    
#Scraping Series
try:
    series= driver.find_elements(By.XPATH, "//div[@class='match-card-top']/h5")
    for i in series:
        if(i.text)!='':
            match_series.append(i.text)
        else:
            match_series.append('--')
except NoSuchElementException:
    match_series.append('--')
    
#Scraping Place
try:
    places=driver.find_elements(By.XPATH, '//*[@id="match-card"]/div[3]/div')
    for i in places:
        if(i.text)!='':
            place=i.text.split('-')[1]
            match_place.append(place)
        else:
            match_place.append('--')
except NoSuchElementException:
    match_place.append('--')
    
#Scraping Date
try:
    dates=driver.find_elements(By.CLASS_NAME, 'match-dates')
    for i in dates:
        if(i.text)!='':
            match_date.append(i.text)
        else:
            match_date.append('--')
except NoSuchElementException:
    match_date.append('--')

#Scraping Time
try:
    timings=driver.find_elements(By.CLASS_NAME, 'match-time')
    for i in timings:
        if(i.text)!='':
            match_time.append(i.text)
        else:
            match_time.append('--')
except NoSuchElementException:
    match_time.append('--')

In [12]:
data={'Match Title':match_title, 'Series':match_series, 'Place':match_place, 'Date':match_date, 'Time':match_time}
df = pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
df

,Match Title,Series,Place,Date,Time
0,1st Test,INDIA TOUR OF WEST INDIES 2023,"Windsor Park, Dominica",12 JUL 2023,3:00 PM BST
1,2nd Test,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval, Trinidad",20 JUL 2023,3:00 PM BST
2,1st ODI,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval, Barbados",27 JUL 2023,2:30 PM BST
3,2nd ODI,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval, Barbados",29 JUL 2023,2:30 PM BST
4,3rd ODI,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium, Trinidad",1 AUG 2023,2:30 PM BST
5,1st T20I,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium, Trinidad",3 AUG 2023,3:30 PM BST
6,2nd T20I,INDIA TOUR OF WEST INDIES 2023,"National Stadium, Guyana",6 AUG 2023,3:30 PM BST
7,3rd T20I,INDIA TOUR OF WEST INDIES 2023,"National Stadium, Guyana",8 AUG 2023,3:30 PM BST
8,4th T20I,INDIA TOUR OF WEST INDIES 2023,Central Broward Regional Park Stadium Turf Gr...,12 AUG 2023,3:30 PM BST
9,5th T20I,INDIA TOUR OF WEST INDIES 2023,Central Broward Regional Park Stadium Turf Gr...,13 AUG 2023,3:30 PM BST

Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [13]:
state_gdp=driver.get("https://www.statisticstimes.com/")

In [14]:
#Click Economy
try:
    nav_btn=driver.find_element(By.XPATH, "//*[@id='top']/div[2]/div[2]/button")
    nav_btn.click()
except NoSuchElementException as e:
    print(e)

In [15]:
#Click India
try:
    nav_india= driver.find_element(By.XPATH, "//*[@id='top']/div[2]/div[2]/div/a[3]")
    nav_india.click()
except NoSuchElementException as e:
    print(e)

In [17]:
#click on GDP of Indian States
try:
    nav_link=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    nav_link.click()
except NoSuchElementException as e:
    print(e)

In [18]:
try:
    wait=WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.CLASS_NAME, 'qc-cmp2-summary-section')))
    x=wait.find_element(By.XPATH, '//*[@id="qc-cmp2-ui"]/div[2]/div/button[2]')
    x.click()
    time.sleep(5)
except TimeoutException as e:
    print(e)

In [19]:
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]

#Scraping Range
try:
    ranks= driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        if(i.text)!='':
            rank.append(i.text)
        else:
            rank.append("--")
except NoSuchElementException:
    rank.append("--")
    
#Scraping State
try:
    states= driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        if(i.text)!='':
            state.append(i.text)
        else:
            state.append("--")
except NoSuchElementException:
    state.append("--")
    
#Sraping GSDP(19-20)- at current prices
try:
    gsdp1s= driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in gsdp1s:
        if(i.text)!='':
            gsdp1.append(i.text)
        else:
            gsdp1.append("--")
except NoSuchElementException:
    gsdp1.append("--")
    
#Sraping GSDP(18-19)- at current prices
try:
    gsdp2s= driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in gsdp2s:
        if(i.text)!='':
            gsdp2.append(i.text)
        else:
            gsdp2.append("--")
except NoSuchElementException:
    gsdp2.append("--")
    
#Sraping Share
try:
    shares= driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in shares:
        if(i.text)!='':
            share.append(i.text)
        else:
            share.append("--")
except NoSuchElementException:
    share.append("--")
    
#Sraping GDP
try:
    gdps= driver.find_elements(By.XPATH, "//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in gdps:
        if(i.text)!='':
            gdp.append(i.text)
        else:
            gdp.append("--")
except NoSuchElementException:
    gdp.append("--")

In [20]:
data={'Rank':rank, 'State':state, 'GSDP(19-20)- at current prices':gsdp1, 'GSDP(18-19)- at current prices':gsdp2, 
      'Share':share, 'GDP':gdp}
df = pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
df

,Rank,State,GSDP(19-20)- at current prices,GSDP(18-19)- at current prices,Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [21]:
github_url=driver.get("https://github.com/")

In [22]:
try:
    nav_dropdown=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
    nav_dropdown.click()
    time.sleep(5)
except NoSuchElementException:
    print(e)

In [23]:
try:
    trending=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
    trending.click()
    time.sleep(4)
except NoSuchElementException:
    print(e)

In [24]:
repository_title=[]
description=[]
count=[]
language=[]

#Scraping Repository Title
try:
    titles=driver.find_elements(By.XPATH, "//h2[@class='h3 lh-condensed']")
    for i in titles:
        if(i.text)!='':
            repository_title.append(i.text)
        else:
            repository_title.append("--")
except NoSuchElementException:
    repository_title.append("--")
    
#Scraping Repository Description
try:
    descriptions=driver.find_elements(By.XPATH, "//h2[@class='h3 lh-condensed']/following-sibling::p")
    for i in descriptions:
        if(i.text)!='':
            description.append(i.text)
        else:
            description.append("--")
except NoSuchElementException:
    description.append("--")
    
#Scraping Repository Contributors count
try:
    counts=driver.find_elements(By.XPATH, "//article[@class='Box-row']/div[2]/a[1]")
    for i in counts:
        if(i.text)!='':
            count.append(i.text)
        else:
            count.append("--")
except NoSuchElementException:
    count.append("--")
    
#Scraping Repository Language
try:
    languages=driver.find_elements(By.XPATH, "//article[@class='Box-row']/div[2]/span[1]/span[2]")
    for i in languages:
        if(i.text)!='':
            language.append(i.text)
        else:
            language.append("--")
except NoSuchElementException:
    language.append("--")

In [25]:
data={'Repository Title':repository_title, 'Repository description':description, 'Contributors count':count, 
      'Language used':language}
df = pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
df

,Repository Title,Repository description,Contributors count,Language used
0,sadmann7 / skateshop,An open source e-commerce skateshop build with...,"1,129",TypeScript
1,sveltejs / svelte,Cybernetically enhanced web apps,"69,829",JavaScript
2,Stability-AI / generative-models,Generative Models by Stability AI,"1,542",Python
3,CASIA-IVA-Lab / FastSAM,Fast Segment Anything,"1,109",Python
4,a16z-infra / ai-getting-started,A Javascript AI getting started stack for week...,"1,927",TypeScript
5,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,"19,448",Rust
6,SkalskiP / top-cvpr-2023-papers,This repository is a curated collection of the...,352,Python
7,zksync / credo,🔥 🔥 🔥 An intelligent and versatile general-pur...,659,Java
8,chat2db / Chat2DB,Framework to easily create LLM powered bots ov...,922,Python
9,embedchain / embedchain,Papers from the computer science community to ...,961,Shell
10,papers-we-love / papers-we-love,A new bootable USB solution.,"73,693",C
11,ventoy / Ventoy,😎 Awesome lists about all kinds of interesting...,"50,186",Python
12,sindresorhus / awesome,GPT 3.5/4 with a Chat Web UI. No API key requi...,"259,209",Java
13,ramonvc / freegpt-webui,High-quality QR Code generator library in Java...,245,TypeScript
14,nayuki / QR-Code-generator,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,"3,871",C++
15,devfullcycle / imersao13,perfect programming language,152,Python
16,PlexPt / awesome-chatgpt-prompts-zh,PCSX2 - The Playstation 2 Emulator,"39,963",Python
17,TodePond / DreamBerd,roop extension for StableDiffusion web-ui,"4,027",C
18,PCSX2 / pcsx2,The official gpt4free repository | various col...,"8,885",Python
19,s0md3v / sd-webui-roop,OpenCore bootloader,742,Python
20,xtekky / gpt4free,🚀✨ Help beginners to contribute to open source...,"41,062",None
21,acidanthera / OpenCorePkg,An API wrapper for Discord written in Python.,"11,624",None
22,firstcontributions / first-contributions,[CVPR 2023 Best Paper] Planning-oriented Auton...,"34,274",None
23,Rapptz / discord.py,None,"13,047",None
24,OpenDriveLab / UniAD,None,"1,344",None

Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [26]:
billboard_url=driver.get("https:/www.billboard.com/")

In [27]:
try:
    wait=WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.CLASS_NAME, 'ot-sdk-row')))
    x=wait.find_element(By.XPATH, '//*[@id="onetrust-accept-btn-handler"]')
    x.click()
except TimeoutException as e:
    print(e)

In [28]:
try:
    topSong=driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
    topSong.click()
    time.sleep(6)
except NoSuchElementException:    
    print(e)

In [29]:
try:
    fullChart=driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
    fc=fullChart.get_attribute('href')
    driver.get(fc)
    time.sleep(8)
except NoSuchElementException:
    print(e)

In [30]:
songName=[]
artistName=[]
lastweekRank=[]
peakRank=[]
weeksonBoard=[]

#Scraping Song Name
try:
    songsName=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3')
    for i in songsName:
        name=i.text
        if name!='':
            songName.append(name)
        else:
            songName.append("--")
except NoSuchElementException:
    songName.append("--")
        
#Scraping Artist Name
try:
    artistsName=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
    for i in artistsName:
        name=i.text
        if name!='':
            artistName.append(name)
        else:
            artistName.append("--")
except NoSuchElementException:
    artistName.append("--")
    
#Scraping Last Week Rank
try:
    lastweekRanks=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
    for i in lastweekRanks:
        if(i.text)!='':
            lastweekRank.append(i.text)
        else:
            lastweekRank.append("--")
except NoSuchElementException:
    lastweekRank.append("--")
    
#Scraping Peak Rank
try:
    peakRanks=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
    for i in peakRanks:
        if(i.text)!='':
            peakRank.append(i.text)
        else:
            peakRank.append("--")
except NoSuchElementException:
    peakRank.append("--")
    
#Scraping Weeks on Board
try:
    weeksonBoards=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
    for i in weeksonBoards:
        if(i.text)!='':
            weeksonBoard.append(i.text)
        else:
            weeksonBoard.append("--")
except NoSuchElementException:
    weeksonBoard.append("--")

In [31]:
data={'Song name':songName, 'Artist name':artistName, 'Last week rank':lastweekRank, 'Peak rank':peakRank, 
      'Weeks on board':weeksonBoard}
df = pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,20
1,Flowers,Miley Cyrus,2,1,22
2,Fast Car,Luke Combs,4,3,12
3,Calm Down,Rema & Selena Gomez,3,3,41
4,All My Life,Lil Durk Featuring J. Cole,5,2,5
...,...,...,...,...,...
95,Save Me,Jelly Roll With Lainey Wilson,86,86,2
96,Yandel 150,Yandel & Feid,-,71,17
97,Beso,Rosalia & Rauw Alejandro,94,52,12
98,I Wrote The Book,Morgan Wallen,-,18,19
99,Hummingbird,Metro Boomin & James Blake,90,90,2

Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [32]:
sellingnovels_url=driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [33]:
bookName=[]
authorName=[]
volumes=[]
publisher=[]
genre=[]

#Scraping Book Name
try:
    bookNames=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in bookNames:
        if(i.text)!='':
            bookName.append(i.text)
        else:
            bookName.append("--")
except NoSuchElementException:
    bookName.append("--")

#Scraping Author Name
try:
    authorNames=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in authorNames:
        if(i.text)!='':
            authorName.append(i.text)
        else:
            authorName.append("--")
except NoSuchElementException:
    authorName.append("--")
    
#Scraping volumes
try:
    volumess=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in volumess:
        if(i.text)!='':
            volumes.append(i.text)
        else:
            volumes.append("--")
except NoSuchElementException:
    volumes.append("--")
    
#Scraping publisher
try:
    publishers=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        if(i.text)!='':
            publisher.append(i.text)
        else:
            publisher.append("--")
except NoSuchElementException:
    publisher.append("--")
    
#Scraping genre
try:
    genres=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        if(i.text)!='':
            genre.append(i.text)
        else:
            genre.append("--")
except NoSuchElementException:
    genre.append("--")

In [34]:
data={'Book Name':bookName, 'Author':authorName, 'Volumes':volumes, 'Publisher':publisher, 'Genre':genre}
df = pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
df

,Book Name,Author,Volumes,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

 Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [35]:
imdb_url=driver.get("https://www.imdb.com/list/ls095964455/")

In [36]:
name=[]
yearSpan=[]
genre=[]
runTime=[]
rating=[]
votes=[]

#Scraping Name
try:
    names=driver.find_elements(By.XPATH, "//h3[@class='lister-item-header']/a")
    for i in names:
        if(i.text)!='':
            name.append(i.text)
        else:
            name.append("--")
except NoSuchElementException:
    name.append("--")
    
#Scraping Year Span
try:
    yearSpans=driver.find_elements(By.XPATH, "//h3[@class='lister-item-header']/span[2]")
    for i in yearSpans:
        if(i.text)!='':
            yearSpan.append(i.text)
        else:
            yearSpan.append("--")
except NoSuchElementException:
    yearSpan.append("--")

#Scraping Genre
try:
    genres=driver.find_elements(By.XPATH, "//div[@class='lister-item-content']/p/span[5]")
    for i in genres:
        if(i.text)!='':
            genre.append(i.text)
        else:
            genre.append("--")
except NoSuchElementException:
    genre.append("--")
    
#Scraping Run Time
try:
    runTimes=driver.find_elements(By.XPATH, "//div[@class='lister-item-content']/p/span[3]")
    for i in runTimes:
        if(i.text)!='':
            runTime.append(i.text)
        else:
            runTime.append("--")
except NoSuchElementException:
    runTime.append("--")
    
#Scraping Ratings
try:
    ratings=driver.find_elements(By.XPATH, "//div[@class='lister-item-content']/div[1]/div[1]/span[2]")
    for i in ratings:
        if(i.text)!='':
            rating.append(i.text)
        else:
            rating.append("--")
except NoSuchElementException:
    rating.append("--")
    
#Scraping Votes
try:
    votess=driver.find_elements(By.XPATH, "//div[@class='lister-item-content']/p[4]/span[2]")
    for i in votess:
        if(i.text)!='':
            votes.append(i.text)
        else:
            votes.append("--")
except NoSuchElementException:
    votes.append("--")

In [37]:
data={'Name':name, 'Year Span':yearSpan, 'Genre':genre, 'Run Time':runTime, 'Ratings':rating, 'Votes':votes}
df = pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,172,794"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,250,758"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,045"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,457"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,642"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,936"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,975"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,475"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,380"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"259,999"

Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [38]:
uci_url=driver.get("https://archive.ics.uci.edu/")

In [39]:
# fetching view all dataset button from the webpage
try:    
    viewall_dataset = driver.find_element(By.XPATH, "/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
    page_url = viewall_dataset.get_attribute("href")
    driver.get(page_url)
    time.sleep(3)
except NoSuchElementException:
    print(e)

In [40]:
#accept btn
try:
    wait=WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.XPATH, "/html/body/div/div[1]/div[1]/div")))
    x=wait.find_element(By.XPATH, "/html/body/div/div[1]/div[1]/div/div[2]/button")
    x.click()
except TimeoutException as e:
   print(e)

In [41]:
name=[]
dataset_type=[]
task=[]
attribute_type=[]
noofInstances=[]
noofAttribute=[]
year=[]


while True:
    try:
        expand=driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
        expand.click()
        time.sleep(2)
    except NoSuchElementException as e:
        print("Expand Btn not available", e)
    
    #Scraping Dataset Name
    try:
        names=driver.find_elements(By.XPATH, '//h2')
        for i in names:
            if(i.text)!='':
                name.append(i.text)
            else:
                name.append('--')
    except NoSuchElementException:
        name.append("--")

    #Scraping Dataset Type
    try:
        dataset_types=driver.find_elements(By.XPATH, "//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']/div[2]/span")  
        for i in dataset_types:
            if(i.text)!='':
                dataset_type.append(i.text)
            else:
                dataset_type.append('--')
    except NoSuchElementException:
        dataset_type.append("--")

    #Scraping Task
    try:
        tasks=driver.find_elements(By.XPATH, "//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']/div[1]/span")  
        for i in tasks:
            if(i.text)!='':
                task.append(i.text)
            else:
                task.append('--')
    except NoSuchElementException:
        task.append("--")

    #Scraping Attribute Type
    try:
        attribute_types=driver.find_elements(By.XPATH, "//tbody[@class='border']/tr/td[2]")  
        for i in attribute_types:
            if(i.text)!='':
                attribute_type.append(i.text)
            else:
                attribute_type.append('--')
    except NoSuchElementException:
        attribute_type.append("--")

    #Scraping No of Instances
    try:
        noofInstancess=driver.find_elements(By.XPATH, "//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']/div[3]/span")  
        for i in noofInstancess:
            if(i.text)!='':
                noofInstances.append(i.text.replace(' Instances', ''))
            else:
                noofInstances.append('--')
    except NoSuchElementException:
        noofInstances.append("--")

    #Scraping No of Attributes
    try:
        noofAttributes=driver.find_elements(By.XPATH, "//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']/div[4]/span")  
        for i in noofAttributes:
            if(i.text)!='':
                noofAttribute.append(i.text.replace(' Attributes', ''))
            else:
                noofAttribute.append('--')
    except NoSuchElementException:
        noofAttribute.append("--")

    #Scraping Year
    try:
        yrs=driver.find_elements(By.XPATH, "//tbody[@class='border']/tr/td[3]")  
        for i in yrs:
            if(i.text)!='':
                year.append(i.text.split('/')[-1])
            else:
                year.append('--')
    except NoSuchElementException:
        year.append("--") 
        
    try:
        next_page = driver.find_element(By.XPATH, "/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]")   
        if next_page.is_enabled():
            next_page.click()
        else:
            break
    except ElementClickInterceptedException as e:
        break

In [42]:
data={'Dataset name':name, 'Data type':dataset_type, 'Task':task, 'Attribute type':attribute_type, 
      'No of instances':noofInstances, 'No of attribute':noofAttribute, 'Year':year}
df = pd.DataFrame.from_dict(data, orient='index')
df = df.transpose()
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Multivariate,Classification,Real,150,4,1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
2,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K,17,2020
3,Adult,Multivariate,Classification,"Categorical, Integer",48.84K,14,1996
4,Diabetes,--,--,"Categorical, Integer",--,20,A
...,...,...,...,...,...,...,...
618,Undocumented,--,--,None,--,--,None
619,EBL Domain Theories,--,--,None,--,--,None
620,Moral Reasoner,--,--,None,202,--,None
621,DGP2 - The Second Data Generation Program,--,--,None,--,--,None
622,Single elder home monitoring: Gas and position,Tabular,Classification,None,444.63K,16,None

Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [ ]:
naukri_url=driver.get("https://www.naukri.com/hr-recruiters-consultants")

Raised a ticket on access to the above link and got a reply saying I can skip for now. Ticket No - 17213
https://www.flipnwork.com/index.php/tickets/view/17213